In [37]:
import os
from os import environ

import requests
import io

import datetime

import numpy as np
import pandas as pd

from pandas import Series
from pandas import DataFrame

import matplotlib.pyplot as plt

In [38]:
#route = environ['route']
route='SCN-TXL'
downweight_granularity=['FltNum','dtime','Direction','dday','month']

# Data Import

In [39]:
Data=pd.read_csv('SQLsnippet_'+route+'.csv',sep=',')
Data=Data.dropna(how='any')
Data.index=range(Data.shape[0])
Data=Data[['airport_depart','airport_arrival','flight_number','dep_time','extraction_date', 'calendar_date',
     'pax_total','group_pax','cabin_capacity']]
Data=Data.rename(columns={'airport_depart': 'SegFrom', 'airport_arrival': 'SegTo', 'flight_number': 'FltNum', 
'dep_time': 'DepTime', 'extraction_date': 'IssueDate', 'calendar_date': 'DepDate',
'pax_total': 'NumPax', 'group_pax': 'Group pax', 'cabin_capacity': 'Cabin Capacity'})

# CHANGE FORMAT

Data['FltNum']=Data['FltNum'].apply(lambda x: str(str(x).split('-')[1]))
Data['NumPax']=Data['NumPax'].apply(lambda x: float(str(x).split(' ')[0]))
Data['Group pax']=Data['Group pax'].apply(lambda x: float(str(x).split(' ')[0]))
Data['Cabin Capacity']=Data['Cabin Capacity'].apply(lambda x: float(str(x).split(' ')[0]))
Data['DepDayMonth']=Data['DepDate'].apply(lambda x: str(x).split('/')[0]+'/'+str(x).split('/')[1])
Data['DepMonth']=Data['DepDate'].apply(lambda x: str(x).split('/')[1]+'/'+str(x).split('/')[2])

# MAP DESTINATION COMBINATION TO INBOUND OR OUTBOUND

Map_AirportsToDirection=DataFrame([[route.split('-')[0],route.split('-')[1]],
[route.split('-')[1],route.split('-')[0]],['O','I']]).transpose()
Map_AirportsToDirection.columns=['SegFrom','SegTo','Direction']
Data=Data.merge(Map_AirportsToDirection,on=['SegTo','SegFrom'])

### Change format of remaining columns

In [40]:
IssueDate=Data['IssueDate'].unique().tolist()
IssueDate_Map=DataFrame([IssueDate,
[pd.to_datetime(x.split(' ')[0],format='%d/%m/%Y') for x in IssueDate]]).transpose()
IssueDate_Map.columns=['IssueDate','NewFormat']

Data=Data.merge(IssueDate_Map,on=['IssueDate'])
Data=Data[[x for x in Data.columns if x!='IssueDate']]
Data=Data.rename(columns={'NewFormat': 'IssueDate'})

#######################################

DepartureDate=Data['DepDate'].unique().tolist()
DepartureDate_Map=DataFrame([DepartureDate,
[pd.to_datetime(x.split(' ')[0],format='%d/%m/%Y') for x in DepartureDate]]).transpose()
DepartureDate_Map.columns=['DepDate','NewFormat']
DepartureDate_Map['yday']=DepartureDate_Map['NewFormat'].apply(lambda x: x.timetuple().tm_yday)

DepartureDate_Map['dday_num']=DepartureDate_Map['NewFormat'].apply(lambda x: x.weekday())
Weekday_Map=DataFrame([[x for x in range(0,8)],['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']]).transpose()
Weekday_Map.columns=['dday_num','dday']
Weekday_Map['dday_num']=Weekday_Map['dday_num'].astype('int')

DepartureDate_Map=DepartureDate_Map.merge(Weekday_Map,on='dday_num')

DepartureDate_Map=DepartureDate_Map[[x for x in DepartureDate_Map if x!='dday_num']]
DepartureDate_Map=DepartureDate_Map.sort_values(by='NewFormat')

Data=Data.merge(DepartureDate_Map,on=['DepDate'])
Data=Data[[x for x in Data.columns if x!='DepDate']]
Data=Data.rename(columns={'NewFormat': 'DepDate'})

#######################################

DepartureTime=Data['DepTime'].unique().tolist()
DepartureTime_Map=DataFrame([DepartureTime,[pd.to_datetime(x,format='%H:%M:%S') for x in DepartureTime]]).transpose()
DepartureTime_Map.columns=['DepTime','NewFormat']
DepartureTime_Map['dtime']=DepartureTime_Map['NewFormat'].apply(lambda x: (x-datetime.datetime.combine(x.date(),datetime.time(0,0))).seconds/60)

Data=Data.merge(DepartureTime_Map,on=['DepTime'])
Data=Data[[x for x in Data.columns if x!='DepTime']]
Data=Data.rename(columns={'NewFormat': 'DepTime'})

#######################################

Data['month']=Data['DepDate'].apply(lambda x: int(x.month))

#######################################

Data['Dprio']=(Data['DepDate']-Data['IssueDate']).apply(lambda x: float(x.days))
Data=Data.loc[(Data['Dprio']>0)&(Data['Dprio']<=366)&(Data['NumPax']>0)&(~pd.isnull(Data['DepTime'])),:]

Data=Data.sort_values(by=['DepDate','FltNum','dtime','Dprio'],ascending=[True,True,True,False])

# CAPACITY SMOOTHING

Data.loc[Data['Cabin Capacity']>70,'Cabin Capacity']=67

# Cabin Capacity

In [41]:
Capacity=Data[['DepDate','FltNum','dtime','Dprio','Cabin Capacity']].copy()

Dropdown_comb=Data[['DepDate','FltNum','dtime']].drop_duplicates()
Dropdown_comb.index=range(Dropdown_comb.shape[0])
Dprio_all=Data['Dprio'].unique().tolist()

Dropdown_comb=Dropdown_comb.loc[np.repeat(Dropdown_comb.index,len(Dprio_all)),:]
Dropdown_comb.index=range(Dropdown_comb.shape[0])

Dropdown_comb=pd.concat([Dropdown_comb,Series(Dprio_all*Dropdown_comb.drop_duplicates().shape[0])],axis=1)
Dropdown_comb=Dropdown_comb.rename(columns={0: 'Dprio'})

Dropdown_comb=Dropdown_comb.merge(Capacity,on=['DepDate','FltNum','dtime','Dprio'],how='outer')

Dropdown_comb=Dropdown_comb.fillna(67)

deptime=[str(x/60).split('.')[0]+':'+str(round(float('0.'+str(x/60).split('.')[1])*60)) for x in Dropdown_comb['dtime'].unique()]
deptime=[x+'0' if len(x.split(':')[1])==1 else x for x in deptime]
deptime=['0'+x if len(x.split(':')[0])==1 else x for x in deptime]

Map_DepTime=DataFrame([Capacity['dtime'].unique(),[x+'0' if len(x.split(':')[1])==1 else x for x in deptime]]).transpose()
Map_DepTime.columns=['dtime','deptime']
Map_DepTime['dtime']=Map_DepTime['dtime'].astype('int')

Dropdown_comb=Dropdown_comb.merge(Map_DepTime,on='dtime')
Dropdown_comb['dtime']=Dropdown_comb['deptime']
Dropdown_comb=Dropdown_comb[[x for x in Dropdown_comb.columns if x!='deptime']]

#Dropdown_comb.to_csv('~/Data/FrontEnd_Input/Capacity_forPlots.csv',index=False)
Dropdown_comb.to_csv('Capacity_forPlots.csv',index=False)

# Pax Data

In [42]:
Pax=Data[['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday','NumPax']].copy()
Pax=Pax.set_index(['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday'])

Pax=Pax.groupby(level=[0,2,3,4,5,6,7]).diff().reset_index()
Pax=Pax.dropna(how='any')

Data_NoObs=Pax.loc[:,['DepDate','FltNum','yday','dtime','Direction','month','dday']].drop_duplicates().copy()

distinct_flights=Data_NoObs.shape[0]
Data_NoObs.index=range(Data_NoObs.shape[0])
Data_NoObs=Data_NoObs.iloc[np.repeat([x for x in Data_NoObs.index],365),:]

Data_NoObs['Dprio']=[x for x in range(1,366)]*distinct_flights
Data_NoObs['NumPax']=0

Data_NoObs=Data_NoObs[Pax.columns]

Pax=pd.concat([Pax,Data_NoObs])
Pax=Pax.drop_duplicates(subset=['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday'])

Pax=Pax.sort_values(by=['DepDate','FltNum','dtime','Dprio'],ascending=[True,True,True,False])
Pax.index=range(Pax.shape[0])

# Group bookings

In [43]:
GroupPax=Data[['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday','Group pax']].copy()
GroupPax=GroupPax.set_index(['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday'])

GroupPax=GroupPax.groupby(level=[0,2,3,4,5,6,7]).diff().reset_index()
GroupPax=GroupPax.dropna(how='any')
Data_NoObs=GroupPax.loc[:,['DepDate','FltNum','yday','dtime','Direction','month','dday']].drop_duplicates().copy()

distinct_flights=Data_NoObs.shape[0]
Data_NoObs.index=range(Data_NoObs.shape[0])
Data_NoObs=Data_NoObs.iloc[np.repeat([x for x in Data_NoObs.index],365),:]

Data_NoObs['Dprio']=[x for x in range(1,366)]*distinct_flights
Data_NoObs['Group pax']=0

Data_NoObs=Data_NoObs[GroupPax.columns]

GroupPax=pd.concat([GroupPax,Data_NoObs])
GroupPax=GroupPax.drop_duplicates(subset=['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday'])

GroupPax=GroupPax.sort_values(by=['DepDate','FltNum','dtime','Dprio'],ascending=[True,True,True,False])
GroupPax.index=range(GroupPax.shape[0])

# Remove group bookings from revenue and pax data

In [44]:
Pax=Pax.merge(GroupPax,on=['DepDate','Dprio','FltNum','yday','dtime','Direction','month','dday'])
Pax['NumPax']=Pax['NumPax']-Pax['Group pax']
Pax=Pax[[x for x in Pax.columns if x!='Group pax']]

# Create training and test sets

In [45]:
TrainingSet_Pax=Pax.loc[(Pax['DepDate']>=pd.to_datetime('2018-04-01'))\
&(Pax['DepDate']<pd.to_datetime(datetime.datetime.today().strftime('%Y-%m-%d'))),].copy()
TestSet_Pax=Pax.loc[Pax['DepDate']>=pd.to_datetime(datetime.datetime.today().strftime('%Y-%m-%d')),].copy()

# Separate data export

### Pax

In [47]:
#TrainingSet_Pax.to_csv('~/Data/Intermediate_Output/R_Training_Pax.csv',index=False)
TrainingSet_Pax.to_csv('R_Training_Pax.csv',index=False)
TestSet_Pax['DepDate']=TestSet_Pax['DepDate'].apply(lambda x: pd.to_datetime(x))
#TestSet_Pax.to_csv('~/Data/Intermediate_Output/R_Test_Pax.csv',index=False)
TestSet_Pax.to_csv('R_Test_Pax.csv',index=False)

### Group Pax

In [48]:
deptime=[str(x/60).split('.')[0]+':'+str(round(float('0.'+str(x/60).split('.')[1])*60)) for x in GroupPax['dtime'].unique()]
deptime=[x+'0' if len(x.split(':')[1])==1 else x for x in deptime]
deptime=['0'+x if len(x.split(':')[0])==1 else x for x in deptime]

Map_DepTime=DataFrame([Data['dtime'].unique(),[x+'0' if len(x.split(':')[1])==1 else x for x in deptime]]).transpose()
Map_DepTime.columns=['dtime','deptime']
Map_DepTime['dtime']=Map_DepTime['dtime'].astype('int')

GroupPax=GroupPax.merge(Map_DepTime,on='dtime')

GroupPax['dtime']=GroupPax['deptime']
GroupPax=GroupPax[[x for x in GroupPax.columns if x!='deptime']]

#GroupPax.to_csv('~/Data/Intermediate_Output/GroupPax.csv',index=False)
GroupPax.to_csv('GroupPax.csv',index=False)

In [50]:
Pax.loc[(Pax['DepDate']=='2018-01-01')&(Pax['FltNum']=='9413'),:]

       DepDate  Dprio FltNum  yday   dtime Direction  month    dday  NumPax
0   2018-01-01  365.0   9413     1  1110.0         O      1  Monday     0.0
1   2018-01-01  364.0   9413     1  1110.0         O      1  Monday     0.0
2   2018-01-01  363.0   9413     1  1110.0         O      1  Monday     0.0
3   2018-01-01  362.0   9413     1  1110.0         O      1  Monday     0.0
4   2018-01-01  361.0   9413     1  1110.0         O      1  Monday     0.0
5   2018-01-01  360.0   9413     1  1110.0         O      1  Monday     0.0
6   2018-01-01  359.0   9413     1  1110.0         O      1  Monday     0.0
7   2018-01-01  358.0   9413     1  1110.0         O      1  Monday     0.0
8   2018-01-01  357.0   9413     1  1110.0         O      1  Monday     0.0
9   2018-01-01  356.0   9413     1  1110.0         O      1  Monday     0.0
10  2018-01-01  355.0   9413     1  1110.0         O      1  Monday     0.0
11  2018-01-01  354.0   9413     1  1110.0         O      1  Monday     0.0
12  2018-01-01  353.0   9413     1  1110.0         O      1  Monday     0.0
13  2018-01-01  352.0   9413     1  1110.0         O      1  Monday     0.0
14  2018-01-01  351.0   9413     1  1110.0         O      1  Monday     0.0
15  2018-01-01  350.0   9413     1  1110.0         O      1  Monday     0.0
16  2018-01-01  349.0   9413     1  1110.0         O      1  Monday     0.0
17  2018-01-01  348.0   9413     1  1110.0         O      1  Monday     0.0
18  2018-01-01  347.0   9413     1  1110.0         O      1  Monday     0.0
19  2018-01-01  346.0   9413     1  1110.0         O      1  Monday     0.0
20  2018-01-01  345.0   9413     1  1110.0         O      1  Monday     0.0
21  2018-01-01  344.0   9413     1  1110.0         O      1  Monday     0.0
22  2018-01-01  343.0   9413     1  1110.0         O      1  Monday     0.0
23  2018-01-01  342.0   9413     1  1110.0         O      1  Monday     0.0
24  2018-01-01  341.0   9413     1  1110.0         O      1  Monday     0.0
25  2018-01-01  340.0   9413     1  1110.0         O      1  Monday     0.0
26  2018-01-01  339.0   9413     1  1110.0         O      1  Monday     0.0
27  2018-01-01  338.0   9413     1  1110.0         O      1  Monday     0.0
28  2018-01-01  337.0   9413     1  1110.0         O      1  Monday     0.0
29  2018-01-01  336.0   9413     1  1110.0         O      1  Monday     0.0
..         ...    ...    ...   ...     ...       ...    ...     ...     ...
335 2018-01-01   30.0   9413     1  1110.0         O      1  Monday     0.0
336 2018-01-01   29.0   9413     1  1110.0         O      1  Monday     0.0
337 2018-01-01   28.0   9413     1  1110.0         O      1  Monday     0.0
338 2018-01-01   27.0   9413     1  1110.0         O      1  Monday     0.0
339 2018-01-01   26.0   9413     1  1110.0         O      1  Monday     0.0
340 2018-01-01   25.0   9413     1  1110.0         O      1  Monday    -1.0
341 2018-01-01   24.0   9413     1  1110.0         O      1  Monday     2.0
342 2018-01-01   23.0   9413     1  1110.0         O      1  Monday     0.0
343 2018-01-01   22.0   9413     1  1110.0         O      1  Monday     0.0
344 2018-01-01   21.0   9413     1  1110.0         O      1  Monday     0.0
345 2018-01-01   20.0   9413     1  1110.0         O      1  Monday     0.0
346 2018-01-01   19.0   9413     1  1110.0         O      1  Monday     0.0
347 2018-01-01   18.0   9413     1  1110.0         O      1  Monday     0.0
348 2018-01-01   17.0   9413     1  1110.0         O      1  Monday     1.0
349 2018-01-01   16.0   9413     1  1110.0         O      1  Monday     1.0
350 2018-01-01   15.0   9413     1  1110.0         O      1  Monday     1.0
351 2018-01-01   14.0   9413     1  1110.0         O      1  Monday     2.0
352 2018-01-01   13.0   9413     1  1110.0         O      1  Monday     0.0
353 2018-01-01   12.0   9413     1  1110.0         O      1  Monday     2.0
354 2018-01-01   11.0   9413     1  1110.0         O      1  Monday     0.0
355 2018-01-01   10.0   9413     1  1110.0         O      1  Monday     0.0
356 2018-01-01    9.0   9413     1  1110.0         O      1  Monday     1.0
357 2018-01-01    8.0   9413     1  1110.0         O      1  Monday     0.0
358 2018-01-01    7.0   9413     1  1110.0         O      1  Monday     0.0
359 2018-01-01    6.0   9413     1  1110.0         O      1  Monday     0.0
360 2018-01-01    5.0   9413     1  1110.0         O      1  Monday     0.0
361 2018-01-01    4.0   9413     1  1110.0         O      1  Monday     0.0
362 2018-01-01    3.0   9413     1  1110.0         O      1  Monday     0.0
363 2018-01-01    2.0   9413     1  1110.0         O      1  Monday     0.0
364 2018-01-01    1.0   9413     1  1110.0         O      1  Monday     0.0

[365 rows x 9 columns]