In [433]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

from datetime import date

In [434]:
Data_2019=pd.read_csv('reporting_LUX-VIE_2019_last.csv',header=None)
Data_2019.columns=['ExtractDate','DepDate','FltNum','ArrivalAirport','DepartAirport',
                  'BookingClass','Pax','Dprio_1','Dprio_2']
Data_2019=Data_2019[['DepDate','FltNum','ArrivalAirport','DepartAirport','BookingClass','Pax']]
Data_2018=pd.read_csv('reporting_LUX-VIE_2018_last.csv',header=None)
Data_2018.columns=['ExtractDate','DepDate','FltNum','ArrivalAirport','DepartAirport',
                  'BookingClass','Pax','Dprio_1','Dprio_2']
Data_2018=Data_2018[['DepDate','FltNum','ArrivalAirport','DepartAirport','BookingClass','Pax']]

In [435]:
Data_2019=pd.pivot_table(Data_2019,index=['DepDate','FltNum','ArrivalAirport','DepartAirport'],columns='BookingClass',values='Pax').reset_index()
Data_2019=Data_2019.fillna(0)

In [436]:
Data_2018=pd.pivot_table(Data_2018,index=['DepDate','FltNum','ArrivalAirport','DepartAirport'],columns='BookingClass',values='Pax').reset_index()
Data_2018=Data_2018.fillna(0)

In [437]:
Data_2019['DepDate']=pd.to_datetime(Data_2019['DepDate'].apply(lambda x: str(x)[0:4]+'-'+str(x)[4:6]+'-'+str(x)[6:8]))
Data_2018['DepDate']=pd.to_datetime(Data_2018['DepDate'].apply(lambda x: str(x)[0:4]+'-'+str(x)[4:6]+'-'+str(x)[6:8]))

In [438]:
Data_2019['#']=Data_2019[[x for x in Data_2019.columns if len(x)==1]].apply(sum,axis=1)
Data_2018['#']=Data_2018[[x for x in Data_2018.columns if len(x)==1]].apply(sum,axis=1)

In [439]:
# Data_2019['Week']=Data_2019['DepDate'].apply(lambda x: x.isocalendar()[1])
# Data_2018['Week']=Data_2018['DepDate'].apply(lambda x: x.isocalendar()[1])
Data_2019['Week']=Data_2019['DepDate'].apply(lambda x: x.month)
Data_2018['Week']=Data_2018['DepDate'].apply(lambda x: x.month)

In [444]:
Data_2019.loc[(Data_2019['FltNum']==flt)&(Data_2019['Week']==week),:]

BookingClass,DepDate,FltNum,ArrivalAirport,DepartAirport,A,B,C,D,G,H,...,S,T,U,V,W,X,Y,Z,#,Week
28,2019-01-07,LG-8855,VIE,LUX,3.0,0.0,0.0,0.0,2.0,4.0,...,1.0,0.0,10.0,0.0,8.0,0.0,0.0,0.0,36.0,1
36,2019-01-08,LG-8855,VIE,LUX,0.0,1.0,0.0,0.0,2.0,4.0,...,0.0,0.0,4.0,0.0,8.0,0.0,8.0,2.0,33.0,1
44,2019-01-09,LG-8855,VIE,LUX,1.0,1.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,1.0,5.0,0.0,0.0,0.0,16.0,1
52,2019-01-10,LG-8855,VIE,LUX,0.0,3.0,0.0,1.0,2.0,4.0,...,0.0,1.0,4.0,1.0,2.0,0.0,0.0,0.0,42.0,1
60,2019-01-11,LG-8855,VIE,LUX,9.0,0.0,0.0,0.0,3.0,0.0,...,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,24.0,1
78,2019-01-14,LG-8855,VIE,LUX,12.0,2.0,0.0,0.0,4.0,6.0,...,3.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,41.0,1
86,2019-01-15,LG-8855,VIE,LUX,8.0,1.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,25.0,1
94,2019-01-16,LG-8855,VIE,LUX,1.0,3.0,0.0,0.0,0.0,5.0,...,0.0,1.0,0.0,0.0,3.0,0.0,2.0,0.0,28.0,1
102,2019-01-17,LG-8855,VIE,LUX,6.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,2.0,1.0,1.0,0.0,24.0,1
110,2019-01-18,LG-8855,VIE,LUX,7.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,2.0,0.0,6.0,2.0,2.0,1.0,28.0,1
128,2019-01-21,LG-8855,VIE,LUX,6.0,0.0,0.0,0.0,3.0,0.0,...,2.0,1.0,1.0,0.0,2.0,2.0,0.0,0.0,21.0,1
136,2019-01-22,LG-8855,VIE,LUX,5.0,1.0,0.0,0.0,0.0,3.0,...,2.0,0.0,1.0,0.0,5.0,5.0,0.0,0.0,28.0,1
144,2019-01-23,LG-8855,VIE,LUX,3.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,4.0,1.0,0.0,1.0,14.0,1
152,2019-01-24,LG-8855,VIE,LUX,3.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,4.0,2.0,0.0,0.0,25.0,1
160,2019-01-25,LG-8855,VIE,LUX,13.0,0.0,0.0,2.0,0.0,3.0,...,1.0,0.0,4.0,4.0,5.0,2.0,0.0,0.0,49.0,1
178,2019-01-28,LG-8855,VIE,LUX,3.0,1.0,1.0,0.0,2.0,4.0,...,0.0,0.0,6.0,1.0,2.0,4.0,1.0,0.0,34.0,1
186,2019-01-29,LG-8855,VIE,LUX,0.0,2.0,0.0,0.0,0.0,6.0,...,2.0,0.0,0.0,0.0,1.0,6.0,0.0,0.0,22.0,1
194,2019-01-30,LG-8855,VIE,LUX,0.0,1.0,0.0,0.0,1.0,2.0,...,1.0,0.0,2.0,0.0,4.0,2.0,1.0,0.0,21.0,1
202,2019-01-31,LG-8855,VIE,LUX,4.0,0.0,0.0,0.0,2.0,0.0,...,1.0,0.0,2.0,0.0,4.0,1.0,0.0,0.0,26.0,1

In [445]:
Data_2018.loc[(Data_2018['FltNum']==flt)&(Data_2018['Week']==week),:]

BookingClass,DepDate,FltNum,ArrivalAirport,DepartAirport,A,B,C,D,G,H,...,S,T,U,V,W,X,Y,Z,#,Week
30,2019-01-08,LG-8855,VIE,LUX,3,0,0,0,6,7,...,0,4,17,0,4,2,0,0,48,1
36,2019-01-09,LG-8855,VIE,LUX,1,0,0,0,0,4,...,0,0,2,0,1,1,0,0,10,1
42,2019-01-10,LG-8855,VIE,LUX,0,1,0,0,3,2,...,0,1,2,0,0,0,0,1,16,1
48,2019-01-11,LG-8855,VIE,LUX,3,0,0,0,5,8,...,0,0,5,0,3,0,0,1,35,1
68,2019-01-15,LG-8855,VIE,LUX,25,0,0,0,2,10,...,0,2,2,0,2,1,0,3,54,1
74,2019-01-16,LG-8855,VIE,LUX,4,0,1,0,0,7,...,0,0,0,0,0,3,0,0,23,1
80,2019-01-17,LG-8855,VIE,LUX,3,6,0,0,1,4,...,0,1,1,0,0,3,0,0,30,1
86,2019-01-18,LG-8855,VIE,LUX,1,3,1,0,4,2,...,0,2,2,0,6,2,1,0,40,1
106,2019-01-22,LG-8855,VIE,LUX,4,1,0,0,2,2,...,0,0,1,0,0,5,0,0,23,1
112,2019-01-23,LG-8855,VIE,LUX,1,0,1,0,0,4,...,0,0,1,0,0,1,0,0,17,1
118,2019-01-24,LG-8855,VIE,LUX,0,0,0,0,2,4,...,0,0,1,0,0,4,0,0,31,1
124,2019-01-25,LG-8855,VIE,LUX,2,0,0,0,3,6,...,0,0,1,0,2,0,0,0,27,1
144,2019-01-29,LG-8855,VIE,LUX,7,0,0,0,4,4,...,0,0,2,0,0,1,0,0,21,1
150,2019-01-30,LG-8855,VIE,LUX,1,4,0,0,0,6,...,1,0,1,0,0,0,0,0,22,1
156,2019-01-31,LG-8855,VIE,LUX,2,0,0,1,0,4,...,0,0,1,0,1,1,0,1,22,1

In [388]:
Data_2019=Data_2019.groupby(['FltNum','Week'])[[x for x in Data_2019.columns if len(x)==1]].sum().reset_index()
Data_2018=Data_2018.groupby(['FltNum','Week'])[[x for x in Data_2018.columns if len(x)==1]].sum().reset_index()

In [389]:
allclasses=['T','I','W','R','A','N','G','O','H','V','F','X','L','U','P','S','B','Q','K','M','Y','D','Z','C','J']
allclasses=[x for x in reversed(allclasses)]

In [390]:
Data_2019=Data_2019[[x for x in Data_2019.columns if len(x)>1]+[x for x in allclasses if x in Data_2019.columns]+['#']]
Data_2018=Data_2018[[x for x in Data_2018.columns if len(x)>1]+[x for x in allclasses if x in Data_2018.columns]+['#']]

In [391]:
for i in [x for x in Data_2019.columns if len(x)==1 and x!='#']:
    Data_2019[i]=np.round(Data_2019[i]/Data_2019['#'],2)

In [392]:
for i in [x for x in Data_2018.columns if len(x)==1 and x!='#']:
    Data_2018[i]=np.round(Data_2018[i]/Data_2018['#'],2)

In [396]:
Data_2019['FltNum'].unique()

array(['LG-8851', 'LG-8852', 'LG-8853', 'LG-8854', 'LG-8855', 'LG-8856',
       'LG-8857', 'LG-8858'], dtype=object)

In [443]:
flt='LG-8855'
week=1

In [419]:
Table=DataFrame([[x for x in Data_2018.columns if len(x)==1],
Data_2018.loc[(Data_2018['FltNum']==flt)&(Data_2018['Week']==week),[x for x in Data_2018.columns if len(x)==1]].values.tolist()[0],
Data_2019.loc[(Data_2019['FltNum']==flt)&(Data_2019['Week']==week),[x for x in Data_2019.columns if len(x)==1]].values.tolist()[0]]).transpose()
Table.columns=['Booking Class','% 2018','% 2019']

In [420]:
Table

   Booking Class % 2018 % 2019
0              J      0   0.01
1              C   0.02   0.01
2              Z   0.02   0.01
3              D      0      0
4              Y      0   0.01
5              M      0   0.01
6              K      0      0
7              Q   0.01   0.04
8              B      0   0.03
9              S   0.02   0.03
10             U   0.07   0.05
11             L   0.01   0.07
12             X   0.02   0.05
13             V      0   0.01
14             H   0.03   0.04
15             O   0.11   0.18
16             G   0.24   0.14
17             N   0.05   0.06
18             A   0.12   0.09
19             R   0.19   0.04
20             W   0.09   0.12
21             T      0   0.01
22             #    122    943